*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-image: url("images/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}
#para{
    height: 50px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    margin:20px;
    background-color:#2c1a1d;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 15px #2c1a1d;
}
.navbar{
    display: flex;
}
#para:hover{
    box-shadow: 0 0 30px #2c1a1d;
}

