*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.women{
    background-image: url("images/Womens\ front\ page.avif");
    width: 100%;
    height: 500px;
    background-size: cover;
}
.hero1{
    display: flex;
    overflow: auto;
}
.cloth{
    height: 530px;
    width: 100%;
    margin: 20px;
    overflow: auto;
    flex: 0 0 400px;
    transition: 0.35s;
}
.one{
    background-image: url("images/womens\ one.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.two{
    background-image: url("images/womens\ two.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.three{
    background-image: url("images/womens\ three.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.four{
    background-image: url("images/womens\ four.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.five{
    background-image: url("images/womens\ five.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.six{
    background-image: url("images/womens\ six.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.seven{
    background-image: url("images/womens\ seven.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.eight{
    background-image: url("images/womens\ eight.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.hero2{
    display: flex;
    overflow: auto;
}
.nine{
    background-image: url("images/womens\ nine.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.ten{
    background-image: url("images/womens\ ten.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.eleven{
    background-image: url("images/womens\ eleven.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.twelve{
    background-image: url("images/womens\ twelve.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.thirteen{
    background-image: url("images/womens\ thirteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.fourteen{
    background-image: url("images/womens\ fourteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.fifteen{
    background-image: url("images/womens\ fifteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.sixteen{
    background-image: url("images/womens\ sixteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.seventeen{
    background-image: url("images/womens\ seventeen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.eighteen{
    background-image: url("images/womens\ eighteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.nineteen{
    background-image: url("images/womens\ nineteen.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.twenty{
    background-image: url("images/womens\ twenty.avif");
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}
.cloth:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#h66:hover{
    text-shadow: 0 0 30px;

}
body{
    background-color: white;
}
#h44:hover{
    text-shadow: 0 0 30px;
}
#h55:hover{
    text-shadow: 0 0 30px;
}
#h11,#h22,#h33{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 32px;
        text-align: center;
}
#button{
    height: 50px;
    width: 50px;
    color: black;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
